@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
}

body {
    background-color: #f0f0f0;
}