.hero-container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-image: url(../features/hero-image.jpg);
    background-size: cover ;
}

.hero-title h1 {
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
    bottom: 18vh;
    font-size: 10vh;
    color: #22a2b1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow:   0px -6px 0 #212121,  
                   0px -6px 0 #212121,
                   0px  6px 0 #212121,
                   0px  6px 0 #212121,
                  -6px  0px 0 #212121,  
                   6px  0px 0 #212121,
                  -6px  0px 0 #212121,
                   6px  0px 0 #212121,
                  -6px -6px 0 #212121,  
                   6px -6px 0 #212121,
                  -6px  6px 0 #212121,
                   6px  6px 0 #212121,
                  -6px  18px 0 #212121,
                   0px  18px 0 #212121,
                   6px  18px 0 #212121,
                   0 19px 1px rgba(0,0,0,.1),
                   0 0 6px rgba(0,0,0,.1),
                   0 6px 3px rgba(0,0,0,.3),
                   0 12px 6px rgba(0,0,0,.2),
                   0 18px 18px rgba(0,0,0,.25),
                   0 24px 24px rgba(0,0,0,.2),
                   0 36px 36px rgba(0,0,0,.15);
}

.homepage-welcome {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5vh 0vh;
}

.homepage-welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    margin: 0vh 5vh;
    font-size: 2.5vh;
    color: #454545;
}

.homepage-image1 {
    background-image: url(../features/homepage-image1.jpg);
}

.homepage-image2 {
    background-image: url(../features/homepage-image2.jpg);
}

.homepage-image3 {
    background-image: url(../features/homepage-image3.jpg);
}

.homepage-image1, .homepage-image2, .homepage-image3 {
    display: flex;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}



